# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# local IDE and temporary folders
.idea/
android_trash_*/

# local config and secrets
creds.json
client_secret_*.json
build_*.json
doctor_*.txt
firebase-admin.json
*firebase-adminsdk*.json
*.service-account.json
!app.json
!package.json
!package-lock.json
!eas.json
!vercel.json
!tsconfig.json
!app.config.js
!.expo/*.json

# Web Distribution
!web_out/
!web_out/**
!web_out/**.json
.vercel
